﻿@model JSilverCsv.ViewModels.CreateCampaignViewModel
@{
    ViewBag.Title = "Create";
}


<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }
</style>


<h2>Create Campaign</h2>
<br>

@using (Html.BeginForm("Create", "Campaigns", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <input type="hidden" id="InputFilePath" name="InputFilePath" />
    <input type="hidden" id="Qty" name="Qty" />

    <input type="file" name="CsvInputFile" id="CsvInputFile" accept=".csv"/>
    <input type="button" id="btnUpload" value="Upload File" class="btn btn-info btn-lg" onclick="upload()"/>
    <div id="loadingDiv" style="display:none">
        <h4 class="text-danger" >Uploading...please wait!</h4>
    </div>

    @Html.ValidationMessageFor(model => model.CsvInputFile, "", new { @class = "text-danger" })

    <div id="tableDiv" style="display:none">
        <table id="t01">
            <tr>
                <td>QTY</td>
                <td><label id="qtyLablel">0</label></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Order #</td>
                <td>@Html.EditorFor(m => m.OrderId)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Campaign Name</td>
                <td>@Html.EditorFor(m => m.Name)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
         
            <tr>
                <td>Column A</td>
                <td>@Html.EditorFor(m => m.ColA)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Column B</td>
                <td>@Html.EditorFor(m => m.ColB)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Column C</td>
                <td>@Html.EditorFor(m => m.ColC)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Column D</td>
                <td>@Html.EditorFor(m => m.ColD)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Column E</td>
                <td>0 - 30</td>
                <td>31 - 60</td>
                <td>61 - 90</td>
                <td>91+</td>
            </tr>
            <tr>
                <td>Enter QTY for col E </td>
                <td>@Html.TextBoxFor(m => m.ColE0To30, new {@readonly=true })</td>
                <td>@Html.TextBoxFor(m => m.ColE31To60, new { @readonly = true })</td>
                <td>@Html.TextBoxFor(m => m.ColE61To90, new { @readonly = true })</td>
                <td>@Html.TextBoxFor(m => m.ColE91Plus, new { @readonly = true })</td>
            </tr>
        </table>

        <hr />
        <input type="submit" class="btn btn-primary btn-lg" value="Process file" />
    </div>

   

   
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    //window.onload = function () {
    //    $("#tableDiv").hide();
    //}


    function upload() {
        
        $("#btnUpload").attr("disabled", true);
        if (!confirm("Upload selected file")) return;
        var url = "/Campaigns/Upload";
        // var form = $('form');
        var doc = document.getElementById("CsvInputFile").files[0];
        if (doc) {
            var formData = new FormData($('form').get(0));
            formData.append("file", doc);

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoadingDiv();
                },
                complete: function () {
                    hideLoadingDiv();
                },
                error: function (e) {
                    if (e) {
                        alert(e.statusText);
                    }
                    else {
                        alert(e.statusText);
                    }

                },
                success: function (response) {
                    if (response.success) {
                        alert("Csv file Uploaded!");
                        $("#InputFilePath").val(response.path);
                        $("#Qty").val(response.qty);
                        $("#tableDiv").show();
                        $("#qtyLablel").text(response.qty);
                        
                        updateFilerValues(response.qty)
                    }
                    else {
                        alert(response.msg);
                    }
                   
                }
            });
        }
        else {
            alert("Please select a csv file")
        }
    }

    function updateFilerValues(qty) {
        $("#ColE0To30").val(Math.floor($("#ColE0To30").val() * qty / 100));
        $("#ColE31To60").val(Math.floor($("#ColE31To60").val() * qty / 100));
        $("#ColE61To90").val(Math.floor($("#ColE61To90").val() * qty / 100));
        $("#ColE91Plus").val(qty - (+$("#ColE0To30").val() + +$("#ColE31To60").val() + +$("#ColE61To90").val()));  // the plus to convert str to num first: https://stackoverflow.com/a/8976659/7162741
    }
    function showLoadingDiv() {
        $("#loadingDiv").show();
    }
    function hideLoadingDiv() {
        $("#loadingDiv").hide();
    }
</script>
