﻿@model JSilverCsv.Models.DataFile

@{
    ViewBag.Title = "Details";
}


<div>
    
   
    <h2>Data file Details</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h3>Qty (In file)</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.NumberOfRecords</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Order ID</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.OrderId</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Name</h3>
        </div>
        <div class="col-md-6">
           <h3>@Model.CampaignName</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3>Column A</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColA</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Column B</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColB</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Column C</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColC</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Column D</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColD</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>0 - 30</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColE0To30</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>31 - 60</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColE31To60</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>61 - 90</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColE61To90</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>91+</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.ColE91Plus</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <h4>Input file</h4>
        </div>
        <div class="col-md-6">
            <h4>@Html.ActionLink("Download", "Dli", new { fileName = Model.InputFileUri })</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h4>Output file</h4>
        </div>
        <div class="col-md-6">
            @*<h4>@Html.ActionLink("Download", "Dlo", new { fileName = Model.OutputFileUri })</h4>*@
            <h4><a href="#" onclick='downloadOutputFile("@Path.GetFileName(Model.OutputFileUri)")'>Download</a> </h4>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<script type="text/javascript">
   
    function downloadOutputFile(originaFileName) {
        debugger;
        var dn = originaFileName;
        dn = prompt("Enter desired fileName:", originaFileName);
        if (!dn) {
            alert("Please specify a valid name");
        } else {
            // location.href = "/Campaigns/Dlo?originalFileName="+originaFileName+"&downloadFileName="+dn;
            var uri = "/Campaigns/Dlo?originalFileName="+originaFileName+"&downloadFileName="+dn;
            downloadURI(uri);
        }
    }

    function downloadURI(uri) {
        var link = document.createElement("a");
        //link.download = "Test.csv";
        link.href = uri;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
    }
</script>