﻿@model JSilverCsv.ViewModels.EditCampaignViewModel
@{
    ViewBag.Title = "Edit";
}


<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }
</style>


<h2>Edit Campaign</h2>
<br>

@using (Html.BeginForm("Edit", "Campaigns", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

   @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.InputFilePath)
    @Html.HiddenFor(m => m.OutputFilePath)

 
    <table id="t01">
        <tr>
            <td>QTY</td>
            <td><label id="qtyLablel">@Model.Qty</label></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Order #</td>
            <td>@Html.EditorFor(m => m.OrderId)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Campaign</td>
            <td>@Html.EditorFor(m => m.Name)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Column A</td>
            <td>@Html.EditorFor(m => m.ColA)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Column B</td>
            <td>@Html.EditorFor(m => m.ColB)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Column C</td>
            <td>@Html.EditorFor(m => m.ColC)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Column D</td>
            <td>@Html.EditorFor(m => m.ColD)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Column E</td>
            <td>0 - 30</td>
            <td>31 - 60</td>
            <td>61 - 90</td>
            <td>91+</td>
        </tr>
        <tr>
            <td>Enter QTY for col E </td>
            <td>@Html.TextBoxFor(m => m.ColE0To30, new { @readonly = true })</td>
            <td>@Html.TextBoxFor(m => m.ColE31To60, new { @readonly = true })</td>
            <td>@Html.TextBoxFor(m => m.ColE61To90, new { @readonly = true })</td>
            <td>@Html.TextBoxFor(m => m.ColE91Plus, new { @readonly = true })</td>
        </tr>
    </table>

    <hr />
    <input type="submit" class="btn btn-primary btn-lg" value="Update" />
}


