﻿@model IEnumerable<JSilverCsv.Models.DataFile>
@{
    ViewBag.Title = "Index";
}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>List of available data files</h2> @Html.ActionLink("Create New", "Create", null, new { @class = "pull-right" })
<br>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Campaign Name</th>
            <th>QTY (In file)</th>
            <th>Order #</th>
            <th>Col A</th>
            <th>Col B</th>
            <th>Col C</th>
            <th>Col D</th>
            <th>Original File</th>
            <th>Processed File</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.ID</td>
                <td>@data.CampaignName</td>
                <td>@data.NumberOfRecords</td>
                <td>@data.OrderId</td>
                <td>@data.ColA</td>
                <td>@data.ColB</td>
                <td>@data.ColC</td>
                <td>@data.ColD</td>
                <td>@Html.ActionLink("Download", "Dli", new { fileName = data.InputFileUri })</td>
                <td><a href="#" onclick='downloadOutputFile("@Path.GetFileName(data.OutputFileUri)")'>Download output</a> </td>
                <td>@Html.ActionLink("View Details", "Details", new { id = data.ID })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = data.ID })</td>

                <td><a href="#" onclick="Delete(@data.ID)">Delete</a></td>


            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function Delete(id){
        if(confirm("Confirm delete???")){
            location.href = "/Campaigns/Delete?id="+id;
        }
    }
    function downloadOutputFile(originaFileName) {
        debugger;
        var dn = originaFileName;
        dn = prompt("Enter desired fileName:", originaFileName);
        if (!dn) {
            alert("Please specify a valid name");
        } else {
            // location.href = "/Campaigns/Dlo?originalFileName="+originaFileName+"&downloadFileName="+dn;
            var uri = "/Campaigns/Dlo?originalFileName="+originaFileName+"&downloadFileName="+dn;
            downloadURI(uri);
        }
    }

    function downloadURI(uri) {
        var link = document.createElement("a");
        //link.download = "Test.csv";
        link.href = uri;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
    }
</script>

